# Skip the Dishes Hackathon

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

This notebook is for reviewing the data on SkipTheDishes.

In [2]:
df_supply = pd.read_csv('~/Downloads/FoodSupplyandDisposition_CA_1960-2018.csv')

In [3]:
df_supply

,REF_DATE,Commodity,UOM,Beginning stocks,Domestic disappearance,Ending stocks,Exports,Imports,Manufacturing,Production,Total disposition,Total supply,Waste
0,1960,"Ale, beer, stout and porter",Kilolitres,NaN,1070.44,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN
1,1960,Apple juice,Tonnes,28.57,38.54,22.49,1.29,NaN,NaN,33.75,23.78,62.32,NaN
2,1960,Apple sauce,Tonnes,6.37,6.70,4.67,NaN,NaN,NaN,5.00,6.70,11.37,NaN
3,1960,Apples canned,Tonnes,4.33,4.79,4.86,0.41,NaN,NaN,5.73,NaN,10.06,NaN
4,1960,Apples dried,Tonnes,NaN,0.54,NaN,NaN,0.54,NaN,NaN,0.54,0.54,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10985,2018,Wheat flour,Tonnes,33.31,2089.88,28.21,255.73,88.91,87.08,2338.68,2432.69,2460.89,0.00
10986,2018,Whipping cream 32% or 35%,Kilolitres,NaN,59.39,NaN,NaN,NaN,NaN,59.39,59.39,59.39,NaN
10987,2018,Wines,Kilolitres,NaN,530.63,NaN,90.38,415.01,NaN,NaN,621.00,NaN,NaN
10988,2018,Wintermelons fresh,Tonnes,NaN,1.90,NaN,NaN,2.06,NaN,NaN,2.06,2.06,0.17
10989,2018,Yogurt,Kilolitres,NaN,365.70,NaN,9.24,0.55,NaN,374.38,374.94,374.94,NaN

In [4]:
df_supply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10990 entries, 0 to 10989
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   REF_DATE                10990 non-null  int64
 1   Commodity               10990 non-null  object
 2   UOM                     10990 non-null  object
 3   Beginning stocks        3490 non-null   float64
 4   Domestic disappearance  9307 non-null   float64
 5   Ending stocks           3454 non-null   float64
 6   Exports                 5764 non-null   float64
 7   Imports                 8561 non-null   float64
 8   Manufacturing           2260 non-null   float64
 9   Production              6629 non-null   float64
 10  Total disposition       10723 non-null  float64
 11  Total supply            9589 non-null   float64
 12  Waste                   4034 non-null   float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1.1+ MB

In [5]:
(df_supply.isna().sum()/ df_supply.shape[0]) *100

REF_DATE                   0.000000
Commodity                  0.000000
UOM                        0.000000
Beginning stocks          68.243858
Domestic disappearance    15.313922
Ending stocks             68.571429
Exports                   47.552320
Imports                   22.101911
Manufacturing             79.435851
Production                39.681529
Total disposition          2.429481
Total supply              12.747953
Waste                     63.293904
dtype: float64

In [6]:
df_yelp = pd.read_csv('~/Downloads/Yelp_TO_restaurant_reviews.csv')

In [7]:
df_yelp.sample(5)

,name,address,postal_code,latitude,longitude,stars_x,review_count,is_open,attributes,categories,hours,stars_y,useful,funny,cool,text,date
245275,La Carnita,106 John Street,M5H 1X9,43.647585,-79.390389,3.5,317,1,"{'BikeParking': 'True', 'RestaurantsTakeOut': ...","Mexican, Restaurants","{'Monday': '11:30-22:0', 'Tuesday': '11:30-23:...",3,0,0,0,I've been going to this place for a while now ...,2017-11-23 06:06:46
215152,Carole's Cheesecake Cafe,114 Cumberland Street,M5R 1A6,43.670288,-79.391641,3.5,182,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...","Desserts, Food, Bakeries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",3,1,0,0,"Tried pistachio and strawberry cheesecake, ita...",2015-10-25 18:14:21
317096,One Hour Cafeteria,435 Spadina Avenue,M5T 2G6,43.657414,-79.399357,3.5,101,0,"{'BikeParking': 'True', 'Ambience': ""{'romanti...","Asian Fusion, Food, Restaurants, Chinese, Juic...","{'Monday': '12:0-22:30', 'Tuesday': '12:0-22:3...",2,0,0,0,BEAN BAGS. Dirty bean bags? OK place to hang o...,2017-09-04 06:45:45
312992,Smith Bros.,880 Warden Avenue,M1L 4W6,43.728887,-79.288223,4.0,286,1,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","Restaurants, Nightlife, Steakhouses, American ...","{'Monday': '11:30-21:30', 'Tuesday': '11:30-21...",4,0,0,0,We came here for mother's day on Saturday and ...,2017-05-16 02:04:02
233626,Sansotei Ramen,179 Dundas Street W,M5G 1Z8,43.655004,-79.386473,4.0,794,1,"{'NoiseLevel': ""u'average'"", 'RestaurantsAttir...","Restaurants, Ramen, Japanese, Noodles","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",5,0,0,0,"Had the tonkotsu ramen with extra tonkatsu, an...",2015-10-16 07:17:22

In [8]:
df_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422049 entries, 0 to 422048
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          422049 non-null  object
 1   address       421601 non-null  object
 2   postal_code   421749 non-null  object
 3   latitude      422049 non-null  float64
 4   longitude     422049 non-null  float64
 5   stars_x       422049 non-null  float64
 6   review_count  422049 non-null  int64
 7   is_open       422049 non-null  int64
 8   attributes    418953 non-null  object
 9   categories    422049 non-null  object
 10  hours         385287 non-null  object
 11  stars_y       422049 non-null  int64
 12  useful        422049 non-null  int64
 13  funny         422049 non-null  int64
 14  cool          422049 non-null  int64
 15  text          422049 non-null  object
 16  date          422049 non-null  object
dtypes: float64(3), int64(6), object(8)
memory usage: 54.7+ MB

In [9]:
(df_yelp.isna().sum()/ df_yelp.shape[0]) *100

name            0.000000
address         0.106149
postal_code     0.071082
latitude        0.000000
longitude       0.000000
stars_x         0.000000
review_count    0.000000
is_open         0.000000
attributes      0.733564
categories      0.000000
hours           8.710363
stars_y         0.000000
useful          0.000000
funny           0.000000
cool            0.000000
text            0.000000
date            0.000000
dtype: float64

In [10]:
df_yelp = df_yelp.loc[df_yelp['is_open'] == 1]

In [11]:
df_yelp.drop(["hours", "is_open"], axis=1, inplace = True)

In [17]:
df_yelp.reset_index(drop = True, inplace = True)

In [18]:
df_yelp

,name,address,postal_code,latitude,longitude,stars_x,review_count,attributes,categories,stars_y,useful,funny,cool,text,date
0,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",3,1,0,1,Oh? Another patbingsu review? This one was bet...,2017-07-30 23:32:27
1,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,2,0,2,What really earns them their 5 stars is the un...,2016-01-31 16:19:16
2,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",4,0,0,0,Located inside the Galleria Supermarket.\nStop...,2016-04-29 03:43:54
3,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,0,0,0,Yummy cakes! U should try their sweet potato c...,2017-06-13 23:42:37
4,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,10,6,8,One of my favorite bakeries! This bakery is in...,2016-01-26 22:56:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343228,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,1,0,2,I've been here a few times. Almost every time ...,2018-04-17 10:43:30
343229,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I've came here for lunch several times and it ...,2017-11-17 18:12:45
343230,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I feel mean leaving this review because servic...,2018-10-25 02:11:36
343231,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,0,0,0,"Decent price for lunch, after tax comes to $10...",2016-06-09 20:42:58
343232,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",5,2,0,0,I've been waiting for a new Thai restaurant in...,2017-05-24 18:40:57

In [19]:
number_of_branches = df_yelp.groupby(by = 'name')['address'].nunique().sort_values(ascending = False)

number_of_branches

name
Starbucks                                 129
Tim Hortons                                94
McDonald's                                 44
Subway                                     43
Pizza Pizza                                33
                                         ...
Choco Churros                               0
Urban Smoke Fusion BBQ Food Truck           0
Beer & Liquor Delivery Service Toronto      0
Culinary Adventure                          0
Per Se Mobile                               0
Name: address, Length: 5241, dtype: int64

In [20]:
df_yelp.loc[df_yelp['name'] == 'Choco Churros']

,name,address,postal_code,latitude,longitude,stars_x,review_count,attributes,categories,stars_y,useful,funny,cool,text,date
271918,Choco Churros,None,NaN,43.653226,-79.383184,3.5,5,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Food Trucks, Food",4,1,0,1,Great little treat for $5 bucks. I had the tr...,2013-08-16 18:51:39
271919,Choco Churros,None,NaN,43.653226,-79.383184,3.5,5,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Food Trucks, Food",4,0,0,0,Just tried for the very first time at the food...,2013-08-07 16:12:59
271920,Choco Churros,None,NaN,43.653226,-79.383184,3.5,5,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Food Trucks, Food",3,0,0,0,Not really much to rave here. It was just ok....,2013-08-21 03:57:50
271921,Choco Churros,None,NaN,43.653226,-79.383184,3.5,5,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Food Trucks, Food",4,4,1,1,Churros on wheels! Genious! \n\nPlain old ci...,2013-05-14 18:46:26
271922,Choco Churros,None,NaN,43.653226,-79.383184,3.5,5,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Food Trucks, Food",2,1,1,0,Ordered the same again today. This time they ...,2013-08-09 15:57:17
271923,Choco Churros,None,NaN,43.653226,-79.383184,3.5,5,"{'RestaurantsPriceRange2': '1', 'BikeParking':...","Food Trucks, Food",5,1,0,0,My favourite dessert from my favourite food tr...,2016-03-06 18:24:03

In [21]:
#check other grouping possibilities
df_yelp.groupby(by = ['address','name']).mean()

                                                                       latitude  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii            43.646506
, unit 2                                           HelloFresh         43.641701
1 Adelaide St E                                    Starbucks          43.650161
                                                   Touch              43.650559
1 Adelaide Street E                                Craft Beer Market  43.650159
...                                                                         ...
York Student Centre, 4700 Keele Street, Lower L... The Underground    43.774084
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi        43.774208
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks          43.726192
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi        43.724684
Yorkdale Shopping Mall                             Amaya Express      43.725686

                                                                      longitude  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii           -79.380145
, unit 2                                           HelloFresh        -79.421299
1 Adelaide St E                                    Starbucks         -79.377797
                                                   Touch             -79.377641
1 Adelaide Street E                                Craft Beer Market -79.378093
...                                                                         ...
York Student Centre, 4700 Keele Street, Lower L... The Underground   -79.502381
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi       -79.498333
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks         -79.455518
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi       -79.454173
Yorkdale Shopping Mall                             Amaya Express     -79.450441

                                                                      stars_x  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii                2.5
, unit 2                                           HelloFresh             2.5
1 Adelaide St E                                    Starbucks              3.5
                                                   Touch                  2.5
1 Adelaide Street E                                Craft Beer Market      3.0
...                                                                       ...
York Student Centre, 4700 Keele Street, Lower L... The Underground        2.5
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi            4.0
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks              4.0
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi            2.5
Yorkdale Shopping Mall                             Amaya Express          2.5

                                                                      review_count  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii                     3.0
, unit 2                                           HelloFresh                  6.0
1 Adelaide St E                                    Starbucks                   6.0
                                                   Touch                      16.0
1 Adelaide Street E                                Craft Beer Market          81.0
...                                                                            ...
York Student Centre, 4700 Keele Street, Lower L... The Underground            25.0
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi                 7.0
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks                  12.0
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi                 5.0
Yorkdale Shopping Mall                             Amaya Express              45.0

                                                                       stars_y  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii            2.333333
, unit 2                                           HelloFresh         3.000000
1 Adelaide St E                                    Starbucks          3.666667
                                                   Touch              2.687500
1 Adelaide Street E                                Craft Beer Market  3.098765
...                                                                        ...
York Student Centre, 4700 Keele Street, Lower L... The Underground    2.560000
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi        3.857143
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks          3.750000
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi        2.400000
Yorkdale Shopping Mall                             Amaya Express      2.266667

                                                                        useful  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii            0.666667
, unit 2                                           HelloFresh         1.142857
1 Adelaide St E                                    Starbucks          1.333333
                                                   Touch              0.875000
1 Adelaide Street E                                Craft Beer Market  0.716049
...                                                                        ...
York Student Centre, 4700 Keele Street, Lower L... The Underground    0.880000
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi        0.428571
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks          0.583333
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi        1.600000
Yorkdale Shopping Mall                             Amaya Express      1.133333

                                                                         funny  \
address                                            name
, 200 Bay Street, Unit L5                          Freshii            0.000000
, unit 2                                           HelloFresh         0.285714
1 Adelaide St E                                    Starbucks          0.333333
                                                   Touch              0.250000
1 Adelaide Street E                                Craft Beer Market  0.123457
...                                                                        ...
York Student Centre, 4700 Keele Street, Lower L... The Underground    0.320000
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi        0.000000
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks          0.166667
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi        0.400000
Yorkdale Shopping Mall                             Amaya Express      0.311111

                                                                          cool
address                                            name
, 200 Bay Street, Unit L5                          Freshii            0.000000
, unit 2                                           HelloFresh         0.142857
1 Adelaide St E                                    Starbucks          0.333333
                                                   Touch              0.312500
1 Adelaide Street E                                Craft Beer Market  0.419753
...                                                                        ...
York Student Centre, 4700 Keele Street, Lower L... The Underground    0.720000
York U Student Centre, 4700 Keele Street, 2nd F... Mac's Sushi        0.142857
Yorkdale Shopping Center, 3401 Dufferin Street     Starbucks          0.166667
Yorkdale Shopping Centre, 3401 Dufferin Street     Mac's Sushi        0.800000
Yorkdale Shopping Mall                             Amaya Express      0.333333

[6795 rows x 8 columns]

In [22]:
df_yelp.loc[80, 'attributes']

'{\'RestaurantsPriceRange2\': \'2\', \'HasTV\': \'False\', \'BikeParking\': \'True\', \'OutdoorSeating\': \'False\', \'RestaurantsAttire\': "u\'casual\'", \'GoodForKids\': \'False\', \'Ambience\': "{\'romantic\': False, \'intimate\': False, \'classy\': False, \'hipster\': False, \'divey\': False, \'touristy\': False, \'trendy\': False, \'upscale\': False, \'casual\': False}", \'NoiseLevel\': "u\'quiet\'", \'RestaurantsReservations\': \'True\', \'GoodForMeal\': "{\'dessert\': False, \'latenight\': False, \'lunch\': False, \'dinner\': True, \'brunch\': False, \'breakfast\': False}", \'BusinessParking\': "{\'garage\': False, \'street\': True, \'validated\': False, \'lot\': False, \'valet\': False}", \'RestaurantsGoodForGroups\': \'True\', \'RestaurantsTableService\': \'True\', \'Alcohol\': "u\'full_bar\'"}'

In [23]:
df_yelp

,name,address,postal_code,latitude,longitude,stars_x,review_count,attributes,categories,stars_y,useful,funny,cool,text,date
0,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",3,1,0,1,Oh? Another patbingsu review? This one was bet...,2017-07-30 23:32:27
1,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,2,0,2,What really earns them their 5 stars is the un...,2016-01-31 16:19:16
2,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",4,0,0,0,Located inside the Galleria Supermarket.\nStop...,2016-04-29 03:43:54
3,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,0,0,0,Yummy cakes! U should try their sweet potato c...,2017-06-13 23:42:37
4,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,10,6,8,One of my favorite bakeries! This bakery is in...,2016-01-26 22:56:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343228,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,1,0,2,I've been here a few times. Almost every time ...,2018-04-17 10:43:30
343229,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I've came here for lunch several times and it ...,2017-11-17 18:12:45
343230,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I feel mean leaving this review because servic...,2018-10-25 02:11:36
343231,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,0,0,0,"Decent price for lunch, after tax comes to $10...",2016-06-09 20:42:58
343232,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",5,2,0,0,I've been waiting for a new Thai restaurant in...,2017-05-24 18:40:57

In [38]:
df_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343233 entries, 0 to 343232
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          343233 non-null  object
 1   address       342853 non-null  object
 2   postal_code   342949 non-null  object
 3   latitude      343233 non-null  float64
 4   longitude     343233 non-null  float64
 5   stars_x       343233 non-null  float64
 6   review_count  343233 non-null  int64
 7   attributes    340466 non-null  object
 8   categories    343233 non-null  object
 9   stars_y       343233 non-null  int64
 10  useful        343233 non-null  int64
 11  funny         343233 non-null  int64
 12  cool          343233 non-null  int64
 13  text          343233 non-null  object
 14  date          343233 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 39.3+ MB

In [41]:
df_yelp = df_yelp[df_yelp['attributes'].notna()]

In [48]:
df_yelp.reset_index(drop = True, inplace = True)

In [49]:
#import ast

#ast.literal_eval(df_yelp['attributes'])

ValueError: malformed node or string: 0         {'RestaurantsDelivery': 'False', 'RestaurantsP...
1         {'RestaurantsDelivery': 'False', 'RestaurantsP...
2         {'RestaurantsDelivery': 'False', 'RestaurantsP...
3         {'RestaurantsDelivery': 'False', 'RestaurantsP...
4         {'RestaurantsDelivery': 'False', 'RestaurantsP...
                                ...
340461    {'RestaurantsPriceRange2': '2', 'RestaurantsGo...
340462    {'RestaurantsPriceRange2': '2', 'RestaurantsGo...
340463    {'RestaurantsPriceRange2': '2', 'RestaurantsGo...
340464    {'RestaurantsPriceRange2': '2', 'RestaurantsGo...
340465    {'RestaurantsPriceRange2': '2', 'RestaurantsGo...
Name: attributes, Length: 340466, dtype: object

In [43]:
df_yelp['attributes'][0]

'{\'RestaurantsDelivery\': \'False\', \'RestaurantsPriceRange2\': \'2\', \'RestaurantsTakeOut\': \'True\', \'BikeParking\': \'True\', \'BusinessParking\': "{\'garage\': False, \'street\': False, \'validated\': False, \'lot\': False, \'valet\': False}"}'

In [44]:
#import json

#attr = json.loads(df_yelp['attributes'])

TypeError: the JSON object must be str, bytes or bytearray, not Series

In [45]:
local_in_review = []

for text in df_yelp['text']:
    if "local" in text:
        local_in_review.append(1)
    elif "Local" in text:
        local_in_review.append(1)
    elif "locals" in text:
        local_in_review.append(1)
    elif "Locals" in text:
        local_in_review.append(1)
    else:
        local_in_review.append(0)

In [47]:
# check length
len(local_in_review)

340466

In [50]:
df_local = pd.DataFrame({'local_in_review': local_in_review})

#check
df_local

        local_in_review
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
340461                0
340462                0
340463                0
340464                0
340465                0

[340466 rows x 1 columns]

In [51]:
df_yelp = pd.concat([df_yelp, df_local], axis=1)

In [52]:
# check
df_yelp

,name,address,postal_code,latitude,longitude,stars_x,review_count,attributes,categories,stars_y,useful,funny,cool,text,date,local_in_review
0,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",3,1,0,1,Oh? Another patbingsu review? This one was bet...,2017-07-30 23:32:27,0
1,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,2,0,2,What really earns them their 5 stars is the un...,2016-01-31 16:19:16,0
2,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",4,0,0,0,Located inside the Galleria Supermarket.\nStop...,2016-04-29 03:43:54,0
3,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,0,0,0,Yummy cakes! U should try their sweet potato c...,2017-06-13 23:42:37,0
4,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,10,6,8,One of my favorite bakeries! This bakery is in...,2016-01-26 22:56:47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340461,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,1,0,2,I've been here a few times. Almost every time ...,2018-04-17 10:43:30,0
340462,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I've came here for lunch several times and it ...,2017-11-17 18:12:45,0
340463,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I feel mean leaving this review because servic...,2018-10-25 02:11:36,0
340464,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,0,0,0,"Decent price for lunch, after tax comes to $10...",2016-06-09 20:42:58,0
340465,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",5,2,0,0,I've been waiting for a new Thai restaurant in...,2017-05-24 18:40:57,0

In [54]:
# check how many reviews have local in them
df_yelp['local_in_review'].value_counts()

0    332230
1      8236
Name: local_in_review, dtype: int64

In [56]:
type(df_yelp['date'][0])

str

In [60]:
# converting the date object to a datetime type
df_yelp['date'] = pd.to_datetime(df_yelp['date'], infer_datetime_format=True)

# converting the date column into year, month, day columns
df_yelp['review_year'] = df_yelp['date'].dt.year
df_yelp['review_month'] = df_yelp['date'].dt.month
df_yelp['review_day'] = df_yelp['date'].dt.day

df_yelp

,name,address,postal_code,latitude,longitude,stars_x,review_count,attributes,categories,stars_y,useful,funny,cool,text,date,local_in_review,review_year,review_month,review_day
0,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",3,1,0,1,Oh? Another patbingsu review? This one was bet...,2017-07-30 23:32:27,0,2017,7,30
1,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,2,0,2,What really earns them their 5 stars is the un...,2016-01-31 16:19:16,0,2016,1,31
2,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",4,0,0,0,Located inside the Galleria Supermarket.\nStop...,2016-04-29 03:43:54,0,2016,4,29
3,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,0,0,0,Yummy cakes! U should try their sweet potato c...,2017-06-13 23:42:37,0,2017,6,13
4,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",5,10,6,8,One of my favorite bakeries! This bakery is in...,2016-01-26 22:56:47,0,2016,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340461,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,1,0,2,I've been here a few times. Almost every time ...,2018-04-17 10:43:30,0,2018,4,17
340462,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I've came here for lunch several times and it ...,2017-11-17 18:12:45,0,2017,11,17
340463,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",3,0,0,0,I feel mean leaving this review because servic...,2018-10-25 02:11:36,0,2018,10,25
340464,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",4,0,0,0,"Decent price for lunch, after tax comes to $10...",2016-06-09 20:42:58,0,2016,6,9
340465,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",5,2,0,0,I've been waiting for a new Thai restaurant in...,2017-05-24 18:40:57,0,2017,5,24

In [62]:
#drop the 'date' column
df_yelp.drop(['date'], axis=1, inplace=True)

In [70]:
# check if attributes remain the same for restaurants
print(df_yelp['attributes'][0])
print(df_yelp['attributes'][1])
print(df_yelp['attributes'][2])
print(df_yelp['attributes'][3])

{'RestaurantsDelivery': 'False', 'RestaurantsPriceRange2': '2', 'RestaurantsTakeOut': 'True', 'BikeParking': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}
{'RestaurantsDelivery': 'False', 'RestaurantsPriceRange2': '2', 'RestaurantsTakeOut': 'True', 'BikeParking': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}
{'RestaurantsDelivery': 'False', 'RestaurantsPriceRange2': '2', 'RestaurantsTakeOut': 'True', 'BikeParking': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}
{'RestaurantsDelivery': 'False', 'RestaurantsPriceRange2': '2', 'RestaurantsTakeOut': 'True', 'BikeParking': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"}

In [71]:
# check if categories remain the same for restaurants
print(df_yelp['categories'][0])
print(df_yelp['categories'][1])
print(df_yelp['categories'][2])
print(df_yelp['categories'][3])

Bakeries, Food
Bakeries, Food
Bakeries, Food
Bakeries, Food

In [74]:
df_restaurants = df_yelp.drop(['stars_y', 'useful', 'funny', 'cool', 'text',
             'review_year', 'review_month', 'review_day'], axis=1)

df_restaurants

,name,address,postal_code,latitude,longitude,stars_x,review_count,attributes,categories,local_in_review
0,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",0
1,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",0
2,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",0
3,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",0
4,Bakery Gateau,"865 York Mills Road, Unit 1",M3B 1Y6,43.754093,-79.349548,4.5,8,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Bakeries, Food",0
...,...,...,...,...,...,...,...,...,...,...
340461,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",0
340462,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",0
340463,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",0
340464,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",0
340465,Thai Fantasy,578 Yonge Street,M4Y 1Z3,43.665120,-79.384809,4.0,113,"{'RestaurantsPriceRange2': '2', 'RestaurantsGo...","Restaurants, Thai",0

In [77]:
#check other grouping possibilities
df_restaurants.groupby(by = ['name']).mean()

,latitude,longitude,stars_x,review_count,local_in_review
name,,,,,
'ONO PokÃ© Bar,43.639526,-79.415855,4.0,82.000000,0.012048
00 Gelato,43.646312,-79.391329,4.5,61.000000,0.015873
0109 Dessert & Chocolate,43.814494,-79.294924,3.5,194.000000,0.010000
1 Plus 2 Pizza & Wings,43.597394,-79.520640,2.0,5.000000,0.000000
100 Percent Korean,43.825482,-79.298528,4.5,191.000000,0.010363
...,...,...,...,...,...
pico de gallo,43.654775,-79.402205,3.5,5.000000,0.000000
sÃ¼Ã¼p health bar,43.659241,-79.382860,3.5,23.000000,0.043478
teashop 168,43.657685,-79.402360,3.5,5.000000,0.000000
yuan yuan Chinese Restaurant,43.791998,-79.250489,3.5,3.000000,0.000000
z-teca Gourmet Burritos,43.673038,-79.404180,2.5,34.689655,0.000000

In [78]:
df_restaurants.groupby(by = ['name', 'address', 'postal_code']).mean()

                                                                                          latitude  \
name                     address                                            postal_code
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2      43.639526
00 Gelato                370 King Street W                                  M5V 1J9      43.646312
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3      43.814494
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9      43.597394
100 Percent Korean       4779 Steeles Avenue E                              M1V          43.825482
...                                                                                            ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8      43.643090
                         327 King St W                                      M5V 1J5      43.646085
                         Commerce Court, 199 Bay St                         M5L 1E2      43.648133
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8      43.768778
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3      43.778045

                                                                                         longitude  \
name                     address                                            postal_code
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2     -79.415855
00 Gelato                370 King Street W                                  M5V 1J9     -79.391329
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3     -79.294924
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9     -79.520640
100 Percent Korean       4779 Steeles Avenue E                              M1V         -79.298528
...                                                                                            ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8     -79.383072
                         327 King St W                                      M5V 1J5     -79.391092
                         Commerce Court, 199 Bay St                         M5L 1E2     -79.379509
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8     -79.413419
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3     -79.495472

                                                                                         stars_x  \
name                     address                                            postal_code
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2          4.0
00 Gelato                370 King Street W                                  M5V 1J9          4.5
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3          3.5
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9          2.0
100 Percent Korean       4779 Steeles Avenue E                              M1V              4.5
...                                                                                          ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8          2.5
                         327 King St W                                      M5V 1J5          2.5
                         Commerce Court, 199 Bay St                         M5L 1E2          2.5
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8          2.5
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3          2.5

                                                                                         review_count  \
name                     address                                            postal_code
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2              82.0
00 Gelato                370 King Street W                                  M5V 1J9              61.0
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3             194.0
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9               5.0
100 Percent Korean       4779 Steeles Avenue E                              M1V                 191.0
...                                                                                               ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8              10.0
                         327 King St W                                      M5V 1J5              53.0
                         Commerce Court, 199 Bay St                         M5L 1E2              28.0
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8               7.0
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3              16.0

                                                                                         local_in_review
name                     address                                            postal_code
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2             0.012048
00 Gelato                370 King Street W                                  M5V 1J9             0.015873
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3             0.010000
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9             0.000000
100 Percent Korean       4779 Steeles Avenue E                              M1V                 0.010363
...                                                                                                  ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8             0.000000
                         327 King St W                                      M5V 1J5             0.000000
                         Commerce Court, 199 Bay St                         M5L 1E2             0.000000
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8             0.000000
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3             0.000000

[6407 rows x 5 columns]

In [79]:
df_restaurants.groupby(by = ['name', 'address', 'postal_code', 'attributes', 'categories']).mean()

                                                                                                                                                                                                latitude  \
name                     address                                            postal_code attributes                                         categories
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2     {'RestaurantsTakeOut': 'True', 'WiFi': "'no'", ... Poke, Asian Fusion, Hawaiian, Food, Restaurants...  43.639526
00 Gelato                370 King Street W                                  M5V 1J9     {'WiFi': "u'no'", 'BikeParking': 'True', 'Wheel... Belgian, Waffles, Restaurants, Ice Cream & Froz...  43.646312
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3     {'RestaurantsGoodForGroups': 'True', 'HasTV': '... Desserts, Cafes, Food, Specialty Food, Restaura...  43.814494
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9     {'RestaurantsAttire': "'casual'", 'HasTV': 'Fal... Pizza, Restaurants, Food, Chicken Wings             43.597394
100 Percent Korean       4779 Steeles Avenue E                              M1V         {'RestaurantsAttire': "u'casual'", 'Alcohol': "... Korean, Restaurants                                 43.825482
...                                                                                                                                                                                                  ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8     {'Ambience': "{'romantic': False, 'intimate': F... Food Court, Restaurants, Fast Food, Tex-Mex, Me...  43.643090
                         327 King St W                                      M5V 1J5     {'RestaurantsPriceRange2': '1', 'RestaurantsTak... Tex-Mex, Restaurants, Mexican                       43.646085
                         Commerce Court, 199 Bay St                         M5L 1E2     {'Alcohol': "u'none'", 'OutdoorSeating': 'False... Restaurants, American (New), Fast Food, Gluten-...  43.648133
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8     {'RestaurantsTakeOut': 'True', 'HasTV': 'False'... Restaurants, Mexican, Food Court, Fast Food, Te...  43.768778
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3     {'RestaurantsReservations': 'False', 'Restauran... Restaurants, Tex-Mex, Fast Food, Mexican            43.778045

                                                                                                                                                                                               longitude  \
name                     address                                            postal_code attributes                                         categories
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2     {'RestaurantsTakeOut': 'True', 'WiFi': "'no'", ... Poke, Asian Fusion, Hawaiian, Food, Restaurants... -79.415855
00 Gelato                370 King Street W                                  M5V 1J9     {'WiFi': "u'no'", 'BikeParking': 'True', 'Wheel... Belgian, Waffles, Restaurants, Ice Cream & Froz... -79.391329
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3     {'RestaurantsGoodForGroups': 'True', 'HasTV': '... Desserts, Cafes, Food, Specialty Food, Restaura... -79.294924
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9     {'RestaurantsAttire': "'casual'", 'HasTV': 'Fal... Pizza, Restaurants, Food, Chicken Wings            -79.520640
100 Percent Korean       4779 Steeles Avenue E                              M1V         {'RestaurantsAttire': "u'casual'", 'Alcohol': "... Korean, Restaurants                                -79.298528
...                                                                                                                                                                                                  ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8     {'Ambience': "{'romantic': False, 'intimate': F... Food Court, Restaurants, Fast Food, Tex-Mex, Me... -79.383072
                         327 King St W                                      M5V 1J5     {'RestaurantsPriceRange2': '1', 'RestaurantsTak... Tex-Mex, Restaurants, Mexican                      -79.391092
                         Commerce Court, 199 Bay St                         M5L 1E2     {'Alcohol': "u'none'", 'OutdoorSeating': 'False... Restaurants, American (New), Fast Food, Gluten-... -79.379509
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8     {'RestaurantsTakeOut': 'True', 'HasTV': 'False'... Restaurants, Mexican, Food Court, Fast Food, Te... -79.413419
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3     {'RestaurantsReservations': 'False', 'Restauran... Restaurants, Tex-Mex, Fast Food, Mexican           -79.495472

                                                                                                                                                                                               stars_x  \
name                     address                                            postal_code attributes                                         categories
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2     {'RestaurantsTakeOut': 'True', 'WiFi': "'no'", ... Poke, Asian Fusion, Hawaiian, Food, Restaurants...      4.0
00 Gelato                370 King Street W                                  M5V 1J9     {'WiFi': "u'no'", 'BikeParking': 'True', 'Wheel... Belgian, Waffles, Restaurants, Ice Cream & Froz...      4.5
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3     {'RestaurantsGoodForGroups': 'True', 'HasTV': '... Desserts, Cafes, Food, Specialty Food, Restaura...      3.5
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9     {'RestaurantsAttire': "'casual'", 'HasTV': 'Fal... Pizza, Restaurants, Food, Chicken Wings                 2.0
100 Percent Korean       4779 Steeles Avenue E                              M1V         {'RestaurantsAttire': "u'casual'", 'Alcohol': "... Korean, Restaurants                                     4.5
...                                                                                                                                                                                                ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8     {'Ambience': "{'romantic': False, 'intimate': F... Food Court, Restaurants, Fast Food, Tex-Mex, Me...      2.5
                         327 King St W                                      M5V 1J5     {'RestaurantsPriceRange2': '1', 'RestaurantsTak... Tex-Mex, Restaurants, Mexican                           2.5
                         Commerce Court, 199 Bay St                         M5L 1E2     {'Alcohol': "u'none'", 'OutdoorSeating': 'False... Restaurants, American (New), Fast Food, Gluten-...      2.5
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8     {'RestaurantsTakeOut': 'True', 'HasTV': 'False'... Restaurants, Mexican, Food Court, Fast Food, Te...      2.5
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3     {'RestaurantsReservations': 'False', 'Restauran... Restaurants, Tex-Mex, Fast Food, Mexican                2.5

                                                                                                                                                                                               review_count  \
name                     address                                            postal_code attributes                                         categories
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2     {'RestaurantsTakeOut': 'True', 'WiFi': "'no'", ... Poke, Asian Fusion, Hawaiian, Food, Restaurants...          82.0
00 Gelato                370 King Street W                                  M5V 1J9     {'WiFi': "u'no'", 'BikeParking': 'True', 'Wheel... Belgian, Waffles, Restaurants, Ice Cream & Froz...          61.0
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3     {'RestaurantsGoodForGroups': 'True', 'HasTV': '... Desserts, Cafes, Food, Specialty Food, Restaura...         194.0
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9     {'RestaurantsAttire': "'casual'", 'HasTV': 'Fal... Pizza, Restaurants, Food, Chicken Wings                      5.0
100 Percent Korean       4779 Steeles Avenue E                              M1V         {'RestaurantsAttire': "u'casual'", 'Alcohol': "... Korean, Restaurants                                        191.0
...                                                                                                                                                                                                     ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8     {'Ambience': "{'romantic': False, 'intimate': F... Food Court, Restaurants, Fast Food, Tex-Mex, Me...          10.0
                         327 King St W                                      M5V 1J5     {'RestaurantsPriceRange2': '1', 'RestaurantsTak... Tex-Mex, Restaurants, Mexican                               53.0
                         Commerce Court, 199 Bay St                         M5L 1E2     {'Alcohol': "u'none'", 'OutdoorSeating': 'False... Restaurants, American (New), Fast Food, Gluten-...          28.0
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8     {'RestaurantsTakeOut': 'True', 'HasTV': 'False'... Restaurants, Mexican, Food Court, Fast Food, Te...           7.0
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3     {'RestaurantsReservations': 'False', 'Restauran... Restaurants, Tex-Mex, Fast Food, Mexican                    16.0

                                                                                                                                                                                               local_in_review
name                     address                                            postal_code attributes                                         categories
'ONO PokÃ© Bar            100 Western Battery Road, Unit 2                   M6K 3S2     {'RestaurantsTakeOut': 'True', 'WiFi': "'no'", ... Poke, Asian Fusion, Hawaiian, Food, Restaurants...         0.012048
00 Gelato                370 King Street W                                  M5V 1J9     {'WiFi': "u'no'", 'BikeParking': 'True', 'Wheel... Belgian, Waffles, Restaurants, Ice Cream & Froz...         0.015873
0109 Dessert & Chocolate 2190 McNicoll Avenue, Unit 109                     M1V 0B3     {'RestaurantsGoodForGroups': 'True', 'HasTV': '... Desserts, Cafes, Food, Specialty Food, Restaura...         0.010000
1 Plus 2 Pizza & Wings   3206 Lakeshore Blvd. W                             M8V 1L9     {'RestaurantsAttire': "'casual'", 'HasTV': 'Fal... Pizza, Restaurants, Food, Chicken Wings                    0.000000
100 Percent Korean       4779 Steeles Avenue E                              M1V         {'RestaurantsAttire': "u'casual'", 'Alcohol': "... Korean, Restaurants                                        0.010363
...                                                                                                                                                                                                        ...
z-teca Gourmet Burritos  120 Bremner Boulevard, Food Court, 2nd Level       M5J 0A8     {'Ambience': "{'romantic': False, 'intimate': F... Food Court, Restaurants, Fast Food, Tex-Mex, Me...         0.000000
                         327 King St W                                      M5V 1J5     {'RestaurantsPriceRange2': '1', 'RestaurantsTak... Tex-Mex, Restaurants, Mexican                              0.000000
                         Commerce Court, 199 Bay St                         M5L 1E2     {'Alcohol': "u'none'", 'OutdoorSeating': 'False... Restaurants, American (New), Fast Food, Gluten-...         0.000000
                         North York Centre Food Court, 5150 Yonge Street    M2N 6L8     {'RestaurantsTakeOut': 'True', 'HasTV': 'False'... Restaurants, Mexican, Food Court, Fast Food, Te...         0.000000
                         York Lanes, York University, 4700 Keele Street,... M3J 1P3     {'RestaurantsReservations': 'False', 'Restauran... Restaurants, Tex-Mex, Fast Food, Mexican                   0.000000

[6409 rows x 5 columns]